<body class="bodyMaterial">
    <div class="card">
        <form novalidate [formGroup]="academicaForm" (ngSubmit)="onSubmit()">
            <h2>Información Académica</h2>
            <div>
                <p>
                    <label class="matLabel">Nivel de estudios</label>
                    <br>
                    <mat-form-field class="matInputField" appearance="fill">
                        <mat-label>Nivel de estudios</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let option of infoacademica" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Título obtenido/Profesión" formControlName="titulo">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.titulo)">{{erroresForm.titulo}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
        </form>
    </div>
</body>