<body class="bodyMaterial">
    <div class="card">
        <form class="form">
            <h2>¡Bienvenido!</h2>
            <p>Información de la página de inicio</p>
        </form>
    <div>
        <h3>Aspectos a tener en cuenta:</h3>
        <h4>Aquí irá contenido relevante con esta página y será definido por FEMCristar</h4>
        <h4>Todas las secciones (opciones del menú) tendrán botón de guardar</h4>
        <h4>Solo se guardará todo el contenido de la sección si están completos todos los campos y los datos introducidos son correctos</h4>
        <h4>Si la sección se ha guardado se podra acceder a ella unicamente para consultar</h4>
        <h4>Una vez se guarden todas las secciones se podrá firmar el y obtener una copia de todo lo registrado</h4>
    </div>
    </div>
</body>