<body class="bodyMaterial">
    <div class="card">
        <form class="form">
            <h2>Información Financiera</h2>

            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Ingresos mensuales actividad principal">
                </mat-form-field>
            </p>
            <div>
                <p>
                    <label class="matLabel">¿Posee otra fuente ingresos?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="SI">SI</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="NO">NO</mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <mat-form-field class="matInputField" appearance="fill">
                        <input matInput placeholder="Cantidad otros ingresos">
                    </mat-form-field>
                    <mat-form-field class="matInputField" appearance="fill">
                        <input matInput placeholder="Procedencia otros ingresos">
                    </mat-form-field>
                </p>
            </div>
            <label class="matLabel">Cantidades totales</label>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total ingresos mensuales">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total egresos mensuales">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total activos">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total pasivos">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total patrimonio">
                </mat-form-field>
            </p>
            <div>
                <p>
                    <label class="matLabel">¿Es declarante?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="DCSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="DCNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <div>
                <p>
                    <label class="matLabel">¿Posee auto particular?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="APSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="APNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <div>
                <p>
                    <label class="matLabel">¿Posee motocicleta?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="MTSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="MTNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <div>
                <p>
                    <label class="matLabel">¿Posee empresa/microempresa?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="EMSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="EMNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <br>
        </form>
    </div>
</body>