<body class="bodyMaterial">
    <div class="card">
        <form class="form" novalidate [formGroup]="finacieraForm" (ngSubmit)="onSubmit()">
            <h2>Información Financiera</h2>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Ingresos mes actividad principal" type="number" pattern="[0-9]*"
                        formControlName="ingmensuales">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.ingmensuales)">{{erroresForm.ingmensuales}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <div>
                <p>
                    <label class="matLabel">¿Posee otra fuente ingresos?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="SI">SI</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="NO">NO</mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <mat-form-field class="matInputField" appearance="fill">
                        <input matInput placeholder="Cantidad otros ingresos" type="number" pattern="[0-9]*"
                            formControlName="otingresos">
                        <mat-hint>
                            <span [hidden]="!(erroresForm.otingresos)">{{erroresForm.otingresos}}</span>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="matInputField" appearance="fill">
                        <input matInput placeholder="Procedencia otros ingresos" formControlName="procdnciaoting">
                        <mat-hint>
                            <span [hidden]="!(erroresForm.procdnciaoting)">{{erroresForm.procdnciaoting}}</span>
                        </mat-hint>
                    </mat-form-field>
                </p>
            </div>
            <label class="matLabel">Cantidades totales</label>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total ingresos mes" type="text" pattern="^\d+(?:,\d{3})*\.\d{2}$"
                        formControlName="totaling">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.totaling)">{{erroresForm.totaling}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total egresos mes" type="number" pattern="[0-9]*"
                        formControlName="totalegr">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.totalegr)">{{erroresForm.totalegr}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total activos" type="number" pattern="[0-9]*"
                        formControlName="totalactivos">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.totalactivos)">{{erroresForm.totalactivos}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total pasivos" type="number" pattern="[0-9]*"
                        formControlName="totalpasivos">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.totalpasivos)">{{erroresForm.totalpasivos}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Total patrimonio" type="number" pattern="[0-9]*"
                        formControlName="totalpatrimonio">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.totalpatrimonio)">{{erroresForm.totalpatrimonio}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <div>
                <p>
                    <label class="matLabel">¿Es declarante?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="DCSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="DCNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <div>
                <p>
                    <label class="matLabel">¿Posee auto particular?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="APSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="APNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <div>
                <p>
                    <label class="matLabel">¿Posee motocicleta?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="MTSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="MTNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <div>
                <p>
                    <label class="matLabel">¿Posee empresa/microempresa?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="EMSI">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="EMNO">No</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
            <br>
        </form>
    </div>
</body>