<mat-toolbar class="matTollBarP" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <button mat-button class="matLabelToolBar" (click)="opened=!opened"><mat-icon>menu</mat-icon> Menú</button>
    <span class="rigthSpan"></span>    
    <button mat-button class="flex-box-2" (click)="onLogout()"><label
            class="matLabelToolBar"><fa-icon icon="close"></fa-icon> Salir</label></button>
</mat-toolbar>
<mat-sidenav-container class="matHeader">
    <mat-sidenav [(opened)]="opened">
        <mat-list>
            <button mat-button (click)="inicio()"><label class="matLabel"><fa-icon icon="rocket"></fa-icon>
                    Inicio</label></button>
        </mat-list>
        <mat-list>
            <button mat-button (click)="infoPersonal()"><label class="matLabel"><fa-icon icon="person"></fa-icon>
                    Personal</label></button>
        </mat-list>
        <mat-list>
            <button mat-button (click)="infoLaboral()"><label class="matLabel"><fa-icon icon="briefcase"></fa-icon>
                    Laboral</label></button>
        </mat-list>
        <mat-list>
            <button mat-button (click)="infoAcademica()"><label class="matLabel"><fa-icon icon="graduation-cap"></fa-icon>
                    Académica</label></button>
        </mat-list>
        <mat-list>
            <button mat-button (click)="infoVivienda()"><label class="matLabel"><fa-icon icon="house-chimney"></fa-icon>
                    Vivienda</label></button>
        </mat-list>
        <mat-list>
            <button mat-button (click)="infoFamiliar()"><label class="matLabel"><fa-icon icon="people-group"></fa-icon>
                    Familiar</label></button>
        </mat-list>
        <mat-list>
            <button mat-button (click)="infoFinanciera()"><label class="matLabel"><fa-icon icon="dollar-sign"></fa-icon>
                    Financiera</label></button>
        </mat-list>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>