<body class="bodyMaterial">
    <div class="card">
        <form class="form" novalidate [formGroup]="personalForm" (ngSubmit)="onSubmit()">
            <h2 class="matTitulo">Información Familiar</h2>
            <div id="estadocivil">
                <p>
                    <mat-form-field class="matInputField" appearance="fill">
                        <mat-label>Estado civil</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let option of infoestadocivil" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>
            <div id="conyuge">
                <p>
                    <label class="matLabel">¿Su cónyuge labora?</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="1">Si</mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="2">No</mat-radio-button>
                    </mat-radio-group>
                </p>
                <div id="conyugeDonde">
                    <p>
                        <mat-form-field class="matInputField" appearance="fill">
                            <mat-label>¿Dónde?</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let option of infodondelabora"
                                    [value]="option">{{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="matInputField" appearance="fill">
                            <input matInput placeholder="Salario" formControlName="salario">
                            <mat-hint>
                                <span [hidden]="!(erroresPersonalForm.salario)">{{erroresPersonalForm.salario}}</span>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </form>
        <form class="form" novalidate [formGroup]="familiarForm" (ngSubmit)="onSubmit()">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label class="matLabel">Grupo familiar</label>
                    </mat-panel-title>
                    <mat-panel-description>
                        <label class="matLabel">Desplegar para añadir miembros</label>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form class="form" novalidate [formGroup]="familiarForm" (ngSubmit)="onSubmit()">
                    <div id="grupofamiliar">
                        <p>
                            <mat-form-field class="matInputField" appearance="fill">
                                <input matInput formControlName="nombreFamiliar" placeholder="Nombre y apellidos" formControlName="nombrefamiliar">
                                <mat-hint>
                                    <span [hidden]="!(erroresForm.nombrefamiliar)">{{erroresForm.nombrefamiliar}}</span>
                                </mat-hint>
                            </mat-form-field>
                        </p>
                        <div id="identificacion">
                            <p>
                                <label class="matLabel">Tipo de identificación</label>
                                <br>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button color="primary"
                                        class="matRadioGroup" value="1" checked="true">CC</mat-radio-button>
                                    <mat-radio-button  color="primary"
                                        class="matRadioGroup" value="2">CE</mat-radio-button>
                                </mat-radio-group>
                            </p>
                            <p>
                                <mat-form-field class="matInputField" appearance="fill">
                                    <input matInput formControlName="numIdFamiliar" placeholder="Número de identificación" formControlName="numIdFamiliar">
                                        <mat-hint>
                                            <span [hidden]="!(erroresForm.nombreFamiliar)">{{erroresForm.nombreFamiliar}}</span>
                                        </mat-hint>
                                </mat-form-field>
                            </p>
                        </div>
                        <div id="nacimiento">
                            <p>
                                <mat-form-field class="matInputField" appearance="fill">
                                    <mat-label>Fecha de nacimiento</mat-label>
                                    <input formControlName="fechaNacimientoFamiliar" matInput [matDatepicker]="picker2">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </p>
                        </div>
                        <p>
                            <mat-form-field class="matInputField" appearance="fill">
                                <input matInput formControlName="parentesco" placeholder="Parentesco" formControlName="parentesco">
                                <mat-hint>
                                    <span [hidden]="!(erroresForm.parentesco)">{{erroresForm.parentesco}}</span>
                                </mat-hint>
                            </mat-form-field>
                        </p>
                        <button mat-raised-button color="primary" (click)="addFamiliar()"><label
                                class="matLabelToolBar">Agregar</label></button>
                    </div>
                </form>
            </mat-expansion-panel>
        </form>

    </div>
</body>