<app-navbar></app-navbar>
<div class="container" fxLayout="column" fxLayoutGap="10px">
    <form class="example-form">
        <p>
            <label>Estado civil</label>
            <br>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Soltero</mat-radio-button>
                <mat-radio-button value="2">Casado</mat-radio-button>
                <mat-radio-button value="2">Unión libre</mat-radio-button>
                <mat-radio-button value="2">Separado</mat-radio-button>
                <mat-radio-button value="2">Viudo</mat-radio-button>
            </mat-radio-group>
        </p>
        <div id="conyuge">
            <p>
                <label>¿Su cónyuge labora?</label>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Si</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
            </p>
            <p>
                <label>¿Dónde?</label>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Empresa</mat-radio-button>
                    <mat-radio-button value="2">Independiente</mat-radio-button>
                    <mat-radio-button value="2">Pensionada</mat-radio-button>
                </mat-radio-group>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Salario">
                </mat-form-field>
            </p>
        </div>
        <div id="grupofamiliar">
            <label>Información de grupo familiar</label>
            <p>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Nombre y apellidos">
                </mat-form-field>
            </p>
            <div id="identificacion">
                <p>
                    <label>Tipo de identificación</label>
                    <br>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">CC</mat-radio-button>
                        <mat-radio-button value="2">CE</mat-radio-button>
                    </mat-radio-group>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Número de identificación">
                    </mat-form-field>
                </p>
            </div>
            <div id="nacimiento">
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
            <p>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Parentesco">
                </mat-form-field>
            </p>

        </div>

    </form>
</div>