html,
body {
  min-height: 100vh;
}

.bodyMaterial{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 50px;
    z-index: 3;
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
    background: #ffff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.form > p {
    border-radius: 28px;
}

.matRadioGroup{
    padding: 10px;
}

.matInputField{
    width: 90%;
    background-color: #ffff;
}

.matLabel{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16;
}

h2{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #a30000;
}

.identificacion{
    column-count: 2;
}

.flexExpand {
    flex: 1 1 auto;
}