<body class="bodyMaterial">
    <div class="card">
        <form class="form">
            <h2>Información de Vivienda</h2>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Dirección">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Barrio">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Ciudad">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField"  appearance="fill">
                    <mat-label>Estrato</mat-label>
                    <select matNativeControl>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </mat-form-field>
            </p>
            <br>
            <div>
                <label class="matLabel">Tipo de vivienda</label>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" class="matRadioGroup" value="1">Propia</mat-radio-button>
                    <br>
                    <mat-radio-button color="primary" class="matRadioGroup" value="2">Alquiler</mat-radio-button>
                    <br>
                    <mat-radio-button color="primary" class="matRadioGroup" value="2">Familiar</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div>
                <label class="matLabel">Zona de la vivienda</label>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" class="matRadioGroup" value="1">Rural</mat-radio-button>
                    <br>
                    <mat-radio-button color="primary" class="matRadioGroup" value="2">Urbana</mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>
</body>