<body class="bodyMaterial">
    <div class="card">
        <form class="form" novalidate [formGroup]="viviendaForm" (ngSubmit)="onSubmit()">
            <h2>Información de Vivienda</h2>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Dirección" formControlName="direccion">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.direccion)">{{erroresForm.direccion}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Barrio" formControlName="barrio">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.barrio)">{{erroresForm.barrio}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="Ciudad" formControlName="ciudad">
                    <mat-hint>
                        <span [hidden]="!(erroresForm.ciudad)">{{erroresForm.ciudad}}</span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="matInputField" appearance="fill">
                    <mat-label>Estrato</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let option of infoestrato" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <br>
            <div>
                <label class="matLabel">Tipo de vivienda *</label>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" class="matRadioGroup" value="1">Propia</mat-radio-button>
                    <br>
                    <mat-radio-button color="primary" class="matRadioGroup" value="2">Alquiler</mat-radio-button>
                    <br>
                    <mat-radio-button color="primary" class="matRadioGroup" value="2">Familiar</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div>
                <label class="matLabel">Zona de la vivienda *</label>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" class="matRadioGroup" value="1">Rural</mat-radio-button>
                    <br>
                    <mat-radio-button color="primary" class="matRadioGroup" value="2">Urbana</mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>
</body>