<body>
    <div class="background"></div>
    <div class="card">
        <img class="logo" src="../../../assets/logo.png" />
        <form class="form">
            <div class="contenedor">
                <form class="form" novalidate [formGroup]="passwordForm">
                    <mat-form-field class="matFullWidth">
                        <input matInput formControlName="email" placeholder="Email" type="email" email required>
                        <mat-hint>
                            <span [hidden]="!(erroresForm.email)">{{erroresForm.email}}</span>
                        </mat-hint>
                    </mat-form-field>
                    <mat-dialog-actions>
                        <span class="flex-spacer"></span>
                        <button type="submit" mat-stroked-button color="primary" [disabled]="passwordForm.invalid"
                            (click)="recoveyPassword()">Restablecer contraseña</button>
                    </mat-dialog-actions>
                </form>
            </div>
        </form>
        <footer>
            <p>¿Ya estás registrado?</p>
            <a href="/login">Inicia sesión aquí</a>
            <p>¿No estás registrado?</p>
            <a href="/registro">Registrate aquí</a>
        </footer>
    </div>
</body>