<body class="bodyMaterial">
    <div class="card">
        <form class="form">
            <h2>Deducciones</h2>
            <p>Si mi solicitud es aprobada, autorizo al Fondo de Empleados deducir de mi salario
                la suma de:
            </p>
            <div>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="$ Aportes y Ahorro permanente">
                </mat-form-field>
                <mat-form-field class="matInputField" appearance="fill">
                    <input matInput placeholder="$ Ahorro de navidad">
                </mat-form-field>
            </div>
            <div>
                <p>
                    <label class="matLabel">Periodicidad</label>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button color="primary" class="matRadioGroup" value="deduccionSemanal">
                            Semanal
                        </mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="deduccionQuincenal">
                            Quincenal
                        </mat-radio-button>
                        <mat-radio-button color="primary" class="matRadioGroup" value="deduccionMensual" checked="true">
                            Mensual
                        </mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
        </form>
    </div>
</body>