<div class="container footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutWrap fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="100%">
    <div fxLayout="row">
      <div fxFlex="40%" fxFlexOffset="20px">
        <h4>Links</h4>
      </div>
      <div fxFlex="40%">
        <h4>Dirección</h4>
        <address style="text-size-adjust: 80%">
          Calle nueva <br> Burjassot, Valencia<br> España<br>
          
          <a href="mailto:mitienda@moviles.net">mitienda@moviles.net</a>
        </address>
      </div>

      <div fxFlex="20%" fxFlex.gt-sm="45%" fxFlexAlign="center center">
        <div style="text-align:center">
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%" fxFlexAlign="center center">

        <div style="text-align:center;">
          <p>© Copyright 2022 Mi tienda </p>
        </div>
      </div>
    </div>
  </div>