<body class="bodyMaterial">
    <div class="card">
        <form class="form">
            <h2>Autorizaciones</h2>
            <div>
                <label class="matTittle">Consulta y reporte en centrales de riesgo</label>
                <br>                
                <p class="textoP">
                    <mat-checkbox color="primary"></mat-checkbox>
                    Autorizo voluntariamene a FEMCRISTAR para consultar, procesar, reportar,
                    conservar, suministrar y actualizar cualquier información de carácter financiero
                    debídamente constituida y comercial desde el momento de la solicitud de crédito
                    u otro servicio a cualquiera de las centrales de información debidamente constituida
                    y durante el tiempo que los sistemas de bases de datos, las normas y las autoridades
                    lo establezcan.
                </p>
            </div>
            <br>
            <div>
                <label class="matTittle">Declaración de origenes de fondos</label>
                <p class="textoP">
                    Obrando en nombre propio, de manera voluntaria y dando certeza de que todo lo aquí consignado
                    por mi es cierto, declaro que mis ingresos y bienes provienen del desarrollo (detalle de la Ocupación,
                    Oficio, Profesión, Negocio(s), etc.):
                    <mat-form-field class="matInputField" appearance="fill">
                        <input matInput placeholder="Detalle...">
                    </mat-form-field>
                </p>
                <br>
                <p>
                    <mat-checkbox class="primary">Declaro que esos recursos no provienen de ninguna actividad ilícita de 
                        las contempladas en el Código Penal Colombiano o en cualquier norma que lo modifique o adicione.</mat-checkbox>
                    
                </p>
            </div>         
        </form>
    </div>
</body>