<!--
<mat-toolbar class="NavigationBar" color="white">
     <span><img src="../../../assets/logo.png" height=55 width=222></span>
     <a mat-button color="warn" routerLinkActive="activo" routerLink="/inicio" >
           <label class="matLabel"><fa-icon icon="rocket"></fa-icon> Inicio</label>
     </a>
     <a mat-button color="warn"  routerLinkActive="activo" routerLink="/infopersonal">
          <label class="matLabel"><fa-icon icon="person"></fa-icon> Personal</label>
     </a>
     <a mat-button color="warn"  routerLinkActive="activo" routerLink="/infovivienda">
          <label class="matLabel"><fa-icon icon="house-chimney"></fa-icon> Vivienda</label>
     </a>
     <a mat-button color="warn"  routerLinkActive="activo" routerLink="/infofamiliar">
          <label class="matLabel"><fa-icon icon="people-group"></fa-icon> Familiar</label>
     </a>
     <span class="flexExpand"></span>
     <a mat-button color="warn"  routerLinkActive="activo" routerLink="/infofamiliar">
          <label class="matLabel"><fa-icon icon="people-group"></fa-icon> LogOut</label>
     </a>
 
 </mat-toolbar>
 -->
